files/siftservice.wsdl.txt

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.siftservice.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SiftService" targetNamespace="http://ws.siftservice.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.siftservice.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.siftservice.com/">
  <xs:element name="remoteMatch" type="tns:matchDto"/>
  <xs:element name="remoteSift" type="tns:siftDto"/>
  <xs:complexType name="siftDto">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="points" type="tns:point"/>
      <xs:element minOccurs="0" name="imageBase64String" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="point">
    <xs:sequence>
      <xs:element name="x" type="xs:double"/>
      <xs:element name="y" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="matchDto">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="points1" type="tns:point"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="points2" type="tns:point"/>
      <xs:element minOccurs="0" name="imageBase64String" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sift" type="tns:sift"/>
  <xs:complexType name="sift">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="pass" type="xs:string"/>
      <xs:element minOccurs="0" name="imageBase64String" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="siftResponse" type="tns:siftResponse"/>
  <xs:complexType name="siftResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:siftDto"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="match" type="tns:match"/>
  <xs:complexType name="match">
    <xs:sequence>
      <xs:element minOccurs="0" name="username" type="xs:string"/>
      <xs:element minOccurs="0" name="pass" type="xs:string"/>
      <xs:element minOccurs="0" name="image1Base64String" type="xs:string"/>
      <xs:element minOccurs="0" name="image2Base64String" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="matchResponse" type="tns:matchResponse"/>
  <xs:complexType name="matchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:matchDto"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="siftResponse">
    <wsdl:part element="tns:siftResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sift">
    <wsdl:part element="tns:sift" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="matchResponse">
    <wsdl:part element="tns:matchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="match">
    <wsdl:part element="tns:match" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SiftServicePortType">
    <wsdl:operation name="sift">
      <wsdl:input message="tns:sift" name="sift">
    </wsdl:input>
      <wsdl:output message="tns:siftResponse" name="siftResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="match">
      <wsdl:input message="tns:match" name="match">
    </wsdl:input>
      <wsdl:output message="tns:matchResponse" name="matchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiftServiceSoapBinding" type="tns:SiftServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sift">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sift">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="siftResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="match">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="match">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="matchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiftService">
    <wsdl:port binding="tns:SiftServiceSoapBinding" name="SiftServicePort">
      <soap:address location="http://siftservice.com:8080/services/sift"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
